# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
Untitled.ipynb

# user-supplied audio for the dance screen — never commit/deploy copyrighted tracks
public/dance/*.mp3
public/dance/*.m4a
public/dance/*.wav
